@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
    /* Color Principal */
    --pink: hsl(322, 100%, 66%);

    /* Colores Secundarios */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    /* Fuentes */
    --titulos: 'Poppins', sans-serif;
    --textos: 'Open Sans', sans-serif;
    --padding-pagina-mobile: 0px 20px 0px 20px;
    --padding-pagina-desktop: 0px 50px 0px 50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--very-pale-cyan);
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    row-gap: 50px;
}

/* NavBar */

.navbar{
    width: 100%;
    padding: 30px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__img{
    width: 120px;
}

.links{
    list-style: none;
}

.link{
    padding: 5px 25px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px rgba(5, 5, 5, 0.498);
    border-radius: 30px;
    font-family: var(--titulos);
    font-size: 13px;
}

.link a{
    text-decoration: none;
    color: #000;
}

/* Hero */

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--padding-pagina-mobile);
}

.hero__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.hero__title{
    font-size: 30px;
    font-family: var(--titulos);
}

.hero__paragraph{
    font-family: var(--textos);
}

.hero__btn{
    display: inline-block;
    margin: 20px;
    background-color: var(--pink);
    border-radius: 30px;
    width: 70%;
    padding: 10px;
    text-decoration: none;
    font-family: var(--titulos);
    color: #fff;
    font-size: 14px;
}

.hero__img{
    width: 100%;
}

.container{
    margin-top: 50px;
    width: 100%;
    padding: var(--padding-pagina-mobile);
}

/* Cards */

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    padding-bottom: 180px;
}

.card{
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px rgba(5, 5, 5, 0.159);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    row-gap: 15px;
    text-align: center;
}

.card__img{
    width: 100%;
}

.card__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__title{
    font-size: 25px;
    font-family: var(--titulos);
}

.card__paragraph{
    font-family: var(--textos);
    text-align: center;
    color: var(--grayish-blue)
}

/* Footer */

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--very-dark-cyan);
    color: #fff;
    font-family: var(--textos);
    padding: var(--padding-pagina-mobile);
    padding-top: 30px;
}

.logo__footer{
    width: 180px;
    margin-top: 60px;
}

.footer__container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.contact{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
}

.contact__logo{
    margin-top: 5px;
}

.other__sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first__sections, .second__sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section{
    font-family: var(--textos);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.social__img{
    width: 35px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__bottom{
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-family: var(--textos);
    font-size: 15px;
}

.ad{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    padding: 50px 10px;
    margin: -160px  auto 0px auto;
    box-shadow: 0px 0px 3px 3px rgba(5, 5, 5, 0.159);
    font-family: var(--titulos);
    row-gap: 20px;
    text-align: center;
}

.ad__title{
    font-size: 24px;
}

.ad__btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--pink);
    box-shadow: 0px 0px 3px 3px rgba(5, 5, 5, 0.159);
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


/* Responsive */

@media (min-width: 800px){

    /* Header */
    .header{
        margin-bottom: 100px;
    }
    .navbar{
        padding: 30px 50px 10px 50px;
    }
    .hero{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: start;
        padding: var(--padding-pagina-desktop);
        column-gap: 30px;
    }
    .hero__texts{
        width: 55%;
    }

    .hero__img{
        width: 45%;
    }
    .hero__title{
        font-size: 35px;
    }
    .hero__btn{
        margin: 10px 0px 0px 0px;
        text-align: center;
    }

    /* Cards */

    .cards{
        padding-bottom: 300px;
    }

    .card{
        width: 90%;
        row-gap: 0px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: start;
        column-gap: 50px;
        padding: 60px;
    }

    .card__texts{
        width: 60%;
        text-align: start;
        order: -1;
    }

    .card__paragraph{
        text-align: start;
    }

    .card__img{
        width: 40%;
    }

    /* Modificacion card 2 */

    .card:nth-child(2) .card__texts{
        order: 0;
    }

    /* Ad */

    .ad{
        width: 65%;
        
    }

    .ad__title{
        font-size: 27px;
    }

    /* Footer */

    .footer{
        padding: var(--padding-pagina-desktop);
    }

    .footer__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "contact first__section second__section socials";
        justify-content: center;
        justify-items: center;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .contacts{
        grid-area: contact;
    }

    .first__sections{
        grid-area: first__section;
        row-gap: 20px;
    }

    .second__sections{
        grid-area: second__section;
        row-gap: 20px;
    }

    .socials{
        grid-area: socials;
    }

    .footer__bottom{
        text-align: end;
    }
}